* {
	box-sizing: border-box;
}
.loadingzone {
	position: fixed;
	top: 100%;
	left: 100%;
}
:root {
	font-family: system-ui;
	--col: white;
	color-scheme: dark;
}
.gap15 {
	gap: 15px;
}
#navbar {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	padding: 10px;
	background: rgb(38,0,55);
	background: radial-gradient(circle, rgba(38,0,55,1) 0%, rgba(0,0,0,1) 100%);
	background-attachment: fixed;
	box-shadow: 0px 0px 10px black;
	z-index: 999999;
}
row {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
	justify-content: center;
}
button {
	background-color: black;
	border: 2px solid #a0f;
	box-shadow: 0px 0px 30px #a0f3;
	font-family: system-ui;
	color: white;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 12px;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}
button:hover {
	box-shadow: 0px 0px 30px #FFEC2745;
	background-color: #FFEC27;
	border: 2px solid white;
	border-right-color: #FF6C24;
	border-bottom-color: #FF6C24;
	color: #222;
}
button::after {
	content: ' ';
	display: block;
	background-color: transparent;
	position: absolute;
	right: -100px;
	top: -18px;
	height: 200%;
	width: 20px;
	rotate: 45deg;
}
button:hover::after {
	background-color: #FFA300;
	right: 0;
	transition: background 0.5s, right 0.25s;
}
.gamegrid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 20px;
}
button::before {
	content: ' ';
	display: block;
	background-color: transparent;
	border-right: 10px solid transparent;
	border-left: 3px solid transparent;
	position: absolute;
	left: -100px;
	top: -18px;
	height: 200%;
	width: 10px;
	rotate: 45deg;
}
button:hover::before {
	border-right: 10px solid #F6FF84;
	border-left: 3px solid #F6FF84;
	left: 0px;
	transition: border 0.5s, left 0.25s;
}
button {
	transition: background 0.2s, color 0.2s, border 0.2s, box-shadow 0.2s;
}
body {
	width: 100%;
	max-width: 1000px;
	color-scheme: dark;
	background: transparent;
	color: white;
	display: flex;
	flex-direction: column;
	align-content: center;
	text-align: center;
	flex-wrap: wrap;
	margin: 0px;
	overflow-y: auto;
	background: radial-gradient(circle, rgba(38,0,55,1) 0%, rgba(0,0,0,1) 100%);
	background-attachment: fixed;
	box-sizing: content-box;
}
.gamecard {
	box-shadow: 0px 0px 30px #FFEC2745;
	background-color: #FFEC27;
	border: 2px solid white;
	border-right-color: #FF6C24;
	border-bottom-color: #FF6C24;
	width: min-content;
	aspect-ratio: 1.26 / 1;
	border-radius: 10px;
	overflow: hidden;
	text-decoration: none;
	color: white;
	position: relative;
}
.gamecard img {
	margin: 0px;
}
.gamecard .platform {
	position: absolute;
	rotate: -45deg;
	width: 100%;
	height: 32px;
	background-color: #FF2424;
	top: 15px;
	left: -125px;
	line-height: 32px;
	font-size: 12px;
	display: none;
}
.gamecard .info {
	padding: 10px;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background: #000b;
	backdrop-filter: blur(10px);
	opacity: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 5px;
	transition: opacity 0.5s;
}
.gamecard:hover .info {
	opacity: 1;
}
body:has(#navbar) {
	margin-top: 75px;
	padding: 20px;
}
html {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}
img {
	user-select: none;
}
img {
	max-width: 100%;
	min-width: 100px;
}
blockquote:before, blockquote:after {
	content: '"'
}
quote {
	border: 2px solid #a0f;
	box-shadow: 0px 0px 10px #a0f3;
	background: radial-gradient(circle, rgba(38,0,55,1) 0%, rgba(0,0,0,1) 100%);
	background-attachment: fixed;
	padding: 5px 15px;
	flex: 1;
	border-radius: 5px;
	margin: 10px 0;
	width: 100%;
	display: block;
}
.quotes {
	flex-wrap: wrap;
	gap: 20px;
	filter: drop-shadow(0px 0px 100px #FFA22745);
}
.quotes quote {
	min-width: 300px;
	border: 2px solid white;
	border-right-color: #FF6C24;
	border-bottom-color: #FF6C24;
	box-shadow: none;
	box-shadow: 0px 0px 25px inset #FFA22745;
	padding: 20px;
}
flex {
	display: flex;
}
li {
	text-align: left;
}
.gamecard .info .title {
	margin: 20px 0px;
}
@media (max-width: 600px) {
	.gamecard .platform {
		display: block;
	}
	.gamecard .info {
		opacity: 0.85;
		top: unset;
	}
	.gamecard .info .title {
		display: none;
	}
}
.left {
	justify-content: left;
	align-items: left;
	align-content: left;
	text-align: left;
}
.frontpage {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	justify-content: center;
}

#game #canvas {
	position: absolute;
	left: 0px;
	top: 0px;
	/* cursor: help; */
	image-rendering: pixelated;
	width: 100%;
}

#game {
	position: relative;
}